.error-popup {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  word-break: break-word;
  z-index: 9999;

  @media (max-width: 500px) {
    max-width: 100%;
  }
}