.info-block {
  margin-bottom: 16px;

  b {
    display: block;
  }

  code:before, code:after {
    content: '';
  }
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.left-and-right {
  td:first-child {
    text-align: left !important;
  }

  td:last-child {
    text-align: right;
  }
}

.small-public-key {
  font-size: 10px;
  line-height: 16px;
  word-break: break-all;

  i.icon {
    font-size: 18px;
    line-height: 10px;
  }

  .contact-name {
    font-size: 100% !important;
    border: none !important;
  }
}

.qsets {
  ul {
    list-style: none;

    & > li:first-child {
      font-weight: bold;
    }
  }

  & > ul {
    padding-left: 0;
  }

  li > ul {
    margin: 10px 0;
  }
}