#app nav.toolbar {
  box-shadow: none;

  .selected-account {
    background-color: #3ba5f3;
  }

  .spacer__smaller {
    flex-grow: 0.3 !important;
  }
}

.settings-toolbar {
  .toolbar__title {
    overflow: inherit;
  }

  .tabs__bar {
    height: 100%;

    .tabs__slider {
      height: 4px;
      background-color: #fafafa;
    }
  }
}