@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

@import 'variables';
@import '~vuetify/dist/vuetify.min.css';

@import 'toolbar';
@import 'navbar';
@import 'tables';
@import 'error';

.receive {
  .qrcode {
    .card {
      width: 200px;
    }

    .flex:first-child {
      flex: 0;
    }

    .flex:last-child {
      flex: 1;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}