@import 'fonts';
@import 'variables';
@import '~vuetify/dist/vuetify.min.css';

@import 'toolbar';
@import 'navbar';
@import 'tables';
@import 'error';
@import 'front';

@import 'account';

#app {
  position: relative;
}

.receive {
  .qrcode {
    .card {
      width: 200px;
    }

    .flex:first-child {
      flex: 0;
    }

    .flex:last-child {
      flex: 1;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.setoptions {
  .card {
    b {
      display: block;
      margin-bottom: 10px;

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}

.trustlines {
  .anchor-results {
    box-shadow: none !important;
  }

  .anchor-result {
    tr td:first-child {
      padding-right: 16px;
      vertical-align: top;
    }

    tr td:last-child {
      word-break: break-all;
    }
  }
}

.break-all {
  word-break: break-all;
}

.public-key {
  display: flex;
  flex-direction: row;

  i {
    position: relative;
    top: -1px;
  }

  .contact-name {
    font-size: 80%;
    border: 1px solid;
    height: 50%;
    background-color: transparent !important;
    margin-left: 10px;
    margin-top: 1px;
    padding: 0 5px;
  }
}